<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Blues | {{title}}</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../bz-icons/css/bz-icons.css">
    <link rel='stylesheet' href='../stylesheets/bz-core.css' />
    {{{_sections.styles}}}
</head>
<body class="bz-body">
<div id="leftSide" class="bz-sidenav bz-bc-white left">
    <div class="bz-sidenav-scroll">
        {{> sidenav-left}}
    </div>
</div>
<div class="bz-sidenav-wrapper bz-content">
    <div class="bz-layout-box">
        {{> nav}}
        <div class="bz-cross-padding">
            {{{body}}}
        </div>
        {{> footer}}
    </div>
</div>
{{{_sections.modals}}}
    <script src="../javascripts/bz-core.js"></script>
    <script src="../javascripts/bz-inject.js"></script>
    <script src="../javascripts/bz-sidenav.js"></script>
    <script src="../javascripts/bz-codelighter.js"></script>
    <script type="text/javascript">
        (function() {
            bzDom('#menu-pop-01').popover();
        })();
    </script>
{{{_sections.scripts}}}
</body>
</html>
