<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-box bz-w-100p">
            <div class="bz-row bz-t-align-center">
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-white bz-shadow bz-padding-16">
                        White
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-gray-light bz-shadow bz-padding-16">
                        Gray Light
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-gray bz-fc-white bz-shadow bz-padding-16">
                        Gray
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-gray-darker bz-fc-white bz-shadow bz-padding-16">
                        Gray Darker
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-black bz-fc-white bz-shadow bz-padding-16">
                        Black
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-primary bz-fc-white bz-shadow bz-padding-16">
                        Navy
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-positive bz-shadow bz-padding-16">
                        Green
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-negative bz-fc-white bz-shadow bz-padding-16">
                        Red
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-warning bz-fc-white bz-shadow bz-padding-16">
                        Orange
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-info bz-shadow bz-padding-16">
                        Aqua
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-yellow bz-shadow bz-padding-16">
                        Yellow
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-gold bz-shadow bz-padding-16">
                        Gold
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bz-padding-16">
        <div class="bz-row bz-t-align-center">
            <div class="bz-col mb12">
                {{#each pages.colors.colorsPalette}}
                    <div class="bz-row">
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-0 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-0
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-1 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-1
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-2 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-2
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-3 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-3
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-4 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-4
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-5 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-5
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-6 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-6
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-7 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-7
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-8 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-8
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-9 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-9
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-bc-{{this.name}}-10 bz-shadow bz-padding-8">
                                bz-bc-{{this.name}}-10
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="bz-padding-16">
        <div class="bz-row bz-t-align-center">
            <div class="bz-col mb12">
                {{#each pages.colors.colorsPalette}}
                    <div class="bz-row bz-t-bold">
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-0 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-0
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-1 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-1
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-2 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-2
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-3 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-3
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-4 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-4
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-5 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-5
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-6 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-6
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-7 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-7
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-8 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-8
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-9 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-9
                            </div>
                        </div>
                        <div class="bz-col mb1 bz-padding-4">
                            <div class="bz-fc-{{this.name}}-10 bz-shadow bz-padding-8">
                                bz-fc-{{this.name}}-10
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>

{{#section 'scripts'}}

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"-->
<!--            integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="-->
<!--            crossorigin="anonymous"-->
<!--            referrerpolicy="no-referrer">-->
<!--    </script>-->
<!--    <script>-->
<!--        var context = {-->
<!--            "families" : [-->
<!--                {-->
<!--                    "surname": "Jones",-->
<!--                    "members": [-->
<!--                        {"given": "Jim"},-->
<!--                        {"given": "John"},-->
<!--                        {"given": "Jill"}-->
<!--                    ]-->
<!--                },-->
<!--                {-->
<!--                    "surname": "Smith",-->
<!--                    "members": [-->
<!--                        {"given": "Steve"},-->
<!--                        {"given": "Sally"}-->
<!--                    ]-->
<!--                }-->
<!--            ]-->
<!--        };-->

<!--        var source = bzDom("#entry-template").el.innerHTML;-->
<!--        var template = Handlebars.compile(source);-->
<!--        var output = template(context);-->
<!--        bzDom("body").append(output);-->
<!--    </script>-->

{{/section}}